# https://EditorConfig.org

root = true

[*]
# charset = utf-8 # not system wide, just in the kernel
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true

[*.{asm,inc,ASM,INC}]
indent_size = 8

[kernel/**.{asm,inc,ASM,INC}]
charset = utf-8

[*.{bat,cmd,BAT,CMD}]
# Prefer Windows line endings
end_of_line = crlf
