body
{
  font-size: 15px;
  font-family: "Bookman Old Style";
  color: black;
  text-align: justify;
}
h1 {
  color: white;
  background-color: 808080;
  font-size: 25px;
  text-align: center;
}
h2 { color: green; font-size: 21px; }
h3 { color: green; font-size: 19px; }
h4 { color: #803f00; font-size: 17px; }
i { color: #0099cc; }
b { color: #0099cc; }
p {
  text-indent: 2em;
  margin-top: 3px;
  margin-bottom: 2px;
  margin-left: 0px;
  margin-right: 0px;
}
ol, ul, dl{
  margin-top: 3px;
  margin-bottom: 2px;
}
pre{
  font-family: "Courier New";
  font-size: 15px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #004000;
  background: #ffd0ff;
}
pre font.f0 { color: #ffff00; }
pre font.f1 { color: #ffffff; }
pre font.f2 { color: #00ff00; }
pre font.f3 { color: #00ffff; }
pre font.f4 { color: #808080; }
pre font.f5 { color: #ff40ff; }
pre font.f6 { color: #4080ff; }
pre font.f7 { color: #ff0000; }
pre font.f8 { color: #ffcc00; }
pre font.f9 { color: #00ccff; }

caption
{
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-weight: bold;
  text-align: center;
}
table
{
  font-size: 10px;
  border-collapse: collapse;
  border: #000000 1px solid;
  background-color: #c0e7fb;
}
table td
{
  border: none;
  text-align: center;
}
table th
{
  border: none;
  padding-right: 10px;
  padding-left: 10px;
  color: #ffffff;
  background-color: #0033ff;
}
table pre
{
  text-align: left;
}
td hr{
  color: black;
}